/* small device or mobile */

@media screen and (max-width:576px) {
    .nav-container,
    .item-container ul,
    .banner-container
    {
        flex-direction: column;
    }
    .nav-container{
        margin-top: 30px;
    }

    .logo-container > img{
        margin:auto;
    }
    .view-btn{
        margin-bottom: 20px;
    }
    .banner-img img{
        width: 70%;
        margin-left: 50px;
        align-items: center;

    }
    .banner-title{
        font-size: 38px;
        font-weight: 600;
        margin-top: 30px;
    }
    .content-title{
        font-size: 65px;
        font-weight: 800;
}
.btn-sign{
font-size: 17px;
font-weight: 600;
padding: 15px 30px;
}
.btn-go{
    font-size: 17px;
    font-weight: 600;
    padding: 15px 30px;

}

}



/* medium device or tablet */

@media screen and (min-width : 577px) and (max-width : 962px) {
    .nav-container,
    .item-container ul
    {
        flex-direction: column;
    }
    .nav-container{
        margin-top: 30px;
    }

    .logo-container > img{
        margin:auto;
    }
}