/* small device or mobile */

@media screen and (max-width:576px) {
    .nav-container,
    .item-container ul
    {
        flex-direction: column;
    }
    .nav-container{
        margin-top: 30px;
    }

    .logo-container > img{
        margin:auto;
    }
}



/* medium device or tablet */

@media screen and (min-width : 577px) and (max-width : 962px) {
    .nav-container,
    .item-container ul
    {
        flex-direction: column;
    }
    .nav-container{
        margin-top: 30px;
    }

    .logo-container > img{
        margin:auto;
    }
}