/* font style */
@import url(<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;800&display=swap" rel="stylesheet">);

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}
/* Shared css style */

span{
    color: #F948B2;
}

/* nav section */
.nav-section{
    
    background: #FFF;
box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.logo-container{
    display: flex;
    gap: 20px;
    align-items: center;
    width: 50%;
}
.logo-container > img{
    margin-left: 200px;
}
.nav-title{
    color: #0B0223;
    font-size: 45px;
    font-weight: 700;
}
.title-g{
color: #F948B2;
}
.nav-container{
    display: flex;
    gap: 30px;
    min-height: 130px;
    justify-content: center;
    align-items: center;
}


.item-container ul{
    display: flex;
    align-items: center;
    gap: 30px;
}
.item-container ul a{
        text-decoration: none;
        color: #3C354F;
text-align: center;
font-size: 18px;
font-weight: 500;
}
.item-container ul a:hover{
            color: #F948B2;
}
.item-container ul li{
        list-style: none;
}
.view-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 200px;
height: 56px;
border-radius: 8px;
background: rgba(11, 2, 35, 0.10);
    
}
.btn-img img{
    max-width: 30px;
}

/* first banner part */

.banner-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

.banner-containt{
    fill: linear-gradient(223deg, rgba(140, 87, 238, 0.03) 0%, rgba(241, 68, 174, 0.03) 100%);
}
.banner-img img{
    width: 70%;
    margin-left: 150px;
}
.banner-title{
    color: #0B0223;
    text-align: center;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
}
.content-title{
    text-align: center;
    font-size: 95px;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.banner-description{
    padding-left: 20px;
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    text-transform: lowercase;
    margin-bottom: 15px;
}
.btn-sign{
    background-color: #F948B2;
    color: #FFF;
font-size: 20px;
font-weight: 600;
text-transform: uppercase;
border: 0px;
border-radius: 48px;
padding: 20px 40px;
background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
margin-top: 30px;
}
.btn-go{
    border-radius: 48px;
background: #4EC5F7;
color: #FFF;
font-size: 20px;
font-weight: 600;
text-transform: uppercase;
border: 0px;
border-radius: 48px;
padding: 20px 40px;
margin-left: 20px;
margin-top: 30px;

}

/* second part of banner section */


/* online game section */


/* third anniversary section */

.anniversary-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 200px;
}
.anniversary-content{
    width: 100%;
    text-align: center;
}
.anniversary-title{
    color: #0B0223;
font-size: 48px;
font-weight: 700;
line-height: 60px;
text-align: right;
}
.anniversary-description{
    color: #534C64;
font-size: 18px;
font-weight: 400;
line-height: 30px; 
margin-top: 20px;
text-align: right;
}
.anniversary-img{
    width: 100%;
    margin-top: 70px;
}

.anniversary-photo{
    width: 500px;
    margin-left: 110px;
    
}
.badge-img{
    width: 250px;
    position: relative;
    bottom: 200px;
    display: block;
}

/* button section */
.button-section{
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    
}

.button-container{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;
    padding-top: 100px;
}
.button-container-2{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
    padding-bottom: 100px;
    padding-top: 30px;
}

.games-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    

}
.play-btn{
    width: 200px;
    border-radius: 50px;
    background: #FFF;
    border: 0px;
    text-align: center;
}
.play-btn:hover{
    border: 2px solid #F948B2;
    
}
.games-title p:hover{
    color: #F948B2;
}

.games-btn img{
    width: 50px;
    height: 50px;
}
.games-title p{
    color: #0B0223;
font-size: 20px;
font-weight: 600;
}

/* footer section */
footer{
    background: #0B0223;
}

.footer-logo-container{
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.footer-logo-container img{
    margin-top: 100px;
}
.footer-logo-container h3{
    margin-top: 100px;
    color: #FFF;

}
.footer-nav-item ul{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 3rem;
}
.footer-nav-item ul a{
        text-decoration: none;
        color: white;
text-align: center;
font-size: 18px;
font-weight: 600;
}
.footer-nav-item ul a:hover{
            color: #F948B2;
}
.footer-nav-item ul li{
        list-style: none;
}
.footer-logo-img ul{
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-top: 3rem;
}

.footer-terms-item ul{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 3rem;
}
.footer-terms-item ul a{
        text-decoration: none;
        color: rgba(255, 255, 255, 0.60);
text-align: center;
font-size: 16px;
font-weight: 500;
}
.footer-terms-item ul a:hover{
            color: #F948B2;
}
.footer-terms-item ul li{
        list-style: none;
}
.footer-description{
    color: rgba(255, 255, 255, 0.60);
text-align: center;
font-size: 16px;
font-weight: 500;
margin-top: 30px;
padding-bottom: 100px;
}
